
.Head_Break{
  margin-top: 100px;
}

.working .span{
  background-color: var(--primary-color);
  font-size: 42px;
  font-weight: 600;
  padding: 6px

  
}
.mobile-break {
  display: inline;
}

@media (min-width: 1024px) {
  .mobile-break {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .accordion-container {
    padding: 0 16px;
    margin-top: 45px;
  }
.working{
  text-align: center;
  
}
.working .span{
  display: inline-block;
  font-size: 28px;
  border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  -o-border-radius: 7px !important;
}
  
}

