/* -------------------- Shared Styles -------------------- */
.case_element {
  display: flex;
  min-width: 0;
}

.case_element p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.case_element .actions {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.actions:hover {
  transform: translateX(5px);
}

.actions span {
  font-size: 20px;
  font-weight: 400;
}

/* -------------------- Desktop Styles -------------------- */
.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
}

.caseStudies_wrapper.desktop-view {
  margin-top: 70px;
  padding: 60px;
  background-color: var(--dark);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 45px;
  gap: 60px;
}

.vertical_line {
  width: 1px;
  height: 170px;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0 60px;
}

/* -------------------- Mobile Styles -------------------- */
@media screen and (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .caseStudies_wrapper.mobile-view {
    margin-top: 30px;
    padding: 20px 16px;
    background: transparent;
  }

  .swiper-slide {
    width: 100% !important;
  }

  .case_element {
    background-color: var(--dark);
    border-radius: 24px;
    padding: 32px;
    width: 100%;
    margin: 0 auto;
  }

  .case_element p {
    font-size: 16px;
    color: white;
  }

  .case_element .actions {
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;
  }

  .actions span {
    font-size: 16px;
  }

  .vertical_line {
    display: none;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 20px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #ccc;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: var(--primary-color);
  }
}