.footer_wrpper{
    width: 100%;
    margin-top: 60px;
    background-color: var(--dark);
    padding: 40px 60px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;

}
.foot_head{
    display: flex;
    justify-content: space-between;
}
.foot_menu{
    display: flex;
    gap: 60px;
    align-items: center;
    /* justify-content: ; */
}
.foot_menu ul{
    display: flex;
    align-items: center;
}
.foot_menu ul li{
    display: flex;
    margin-left:  40px;
    list-style: none;
}
.foot_menu ul li a{
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.foot_head .social_icons{
    display: flex;
    

}
.foot_head .social_icons span img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    

}
.middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.middle .foot_address{
    display: flex;
    flex-direction: column;

}
.middle .foot_address p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;

}
.middle .foot_form{
    display: flex;
    background-color: #292A32;
    padding: 40px 60px;
}
.middle .foot_form  form{
     display: flex;
    gap: 20px;
}
.middle .foot_form  form input{
    padding: 20px 30px;
    width: fit-content;
    background: transparent;
    border: 1px solid #ffffff;
    outline: none;
    color: #ffffff;
}
.middle .foot_form input::placeholder{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.middle .foot_form form button{
    font-size: 16px;
    font-weight: 400;
    padding: 20px 30px;
    /* margin-left: 10px; */
    background-color: var(--primary-color);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: all 0.3 ease;
    -webkit-transition: all 0.3 ease;
    -moz-transition: all 0.3 ease;
    -ms-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    cursor: pointer;
}

.middle .foot_form button:hover{
background-color: var(--dark);
color: #FFFFFF;
border:1px solid var(--primary-color);
}


.footer_wrpper .footer_divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #000000 0%, #FFFFFF 46.15%, #000000 100%);
    margin: 60px 0;
  }
  .footer_wrpper .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_bottom .copy_right{
    display: flex;
    gap: 30px;

  }
  .footer_bottom .copy_right p{
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
 
 /* Wrapper for positioning the arrow */
.custom_select_wrapper {
    position: relative;
    display: inline-block;
    width: 100px;
  }
  
  /* Styling the select */
  .custom_select {
    width: 100%;
    background-color: var(--dark);
    color: #fff;
    padding: 10px 40px 10px 16px;
    font-size: 16px;
   
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  /* Add a custom arrow using a pseudo-element */
  .custom_select_wrapper::after {
    content: "▼"; /* Unicode down arrow */
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    font-size: 12px;
  }
  .mob{
    display: none;
  }
  
  @media(max-width:768px)
  {
    #deskt{
        display: none;
    }
    .mob{
        display: flex;
        margin-top: 35px;

      }
     .mob span img{
        height: 30px;
        width: 30px;
        margin-right: 20px;
        
    
    }
    .foot_head{
        display: flex;
      flex-direction: column;
      align-items: center;
    }
    .foot_menu{
        display: flex;
        gap: 60px;
        flex-direction: column;
        align-items: center;
        /* justify-content: ; */
    }
    .foot_menu ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        
    }
    .foot_menu ul li{
        display: flex;
        margin-left: 0;
        list-style: none;
        margin-top: 20px;
    }
    .foot_menu ul li a{
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    .foot_head .social_icons{
        display: flex
    
    }

    .middle{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
    }
    .middle .foot_address{
        display: flex;
        flex-direction: column;margin-bottom: 20px;
    
    }
    .middle .foot_address p{
        color: white;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    
    }
    .middle .foot_form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #292A32;
        padding: 40px 60px;
    }
    .middle .foot_form form{
        display: flex;
        flex-direction: column;
    }
    .middle .foot_form input{
        padding: 20px 30px;
        width: fit-content;
        background: transparent;
        border: 1px solid #ffffff;
        outline: none;
        color: #ffffff;
    }
    .middle .foot_form input::placeholder{
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
    }
    .middle .foot_form button{
        font-size: 16px;
        font-weight: 400;
        padding: 20px 30px;
       
    
  }
.footer_bottom .copy_right{
    display: flex;
    flex-direction:column ;
    gap: 20px;
    align-items: center;
    margin: 0 auto;

  }
  .footer_wrpper .footer_divider{
    margin: 40px 0px;
  }
  .footer_bottom .copy_right p{
    font-size: 16px;
  }
  .custom_select_wrapper{
    display: none;
  }
  .custom_select{
    display: none;
  }

}
@media(max-width:500px)
{
    .middle .foot_form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #292A32;
        padding: 20px 30px;
    }
}