body {
  margin: 0;
  font-family: Space Grotesk;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-color: #B9FF66;
  --gray: #F3F3F3;
  --dark: #191A23;
}

